faster-whisper
pynput==1.7.6
sounddevice==0.4.6
soundfile==0.12.1
pyautogui==0.9.54
pystray==0.19.5
PyQt6==6.6.1
requests==2.31.0
pygetwindow==0.0.9
numpy==1.26.4
keyboard==0.13.5
Pillow
nvidia-cublas-cu12
nvidia-cudnn-cu12

